packages
.idea
.vs
.vscode
bin
obj
.paket/paket.exe
paket-files
node_modules
fake
CodeSaw.Web/wwwroot/
.fake
.fake-tools
artifacts
yarn-error.log

CodeSaw.Web/appsettings.local.json
CodeSaw.Web/node-integration
.idea/
