source https://www.nuget.org/api/v2

framework: netcoreapp20

nuget Diff.Match.Patch
nuget LibGit2Sharp
nuget Microsoft.NET.Test.Sdk
nuget NHibernate
nuget NUnit
nuget NUnit3TestAdapter
nuget Nancy prerelease
nuget Nancy.Bootstrappers.Autofac prerelease
nuget Microsoft.AspNetCore
nuget Microsoft.AspNetCore.StaticFiles
nuget Microsoft.AspNetCore.Hosting
nuget Microsoft.AspNetCore.Diagnostics 
nuget Microsoft.AspNetCore.Owin
nuget Autofac.Extensions.DependencyInjection

nuget System.Data.SqlClient

clitool Microsoft.DotNet.Watcher.Tools
clitool dotnet-fake

group FakeBuild
    source https://www.nuget.org/api/v2

    nuget Fake.Core.Target prerelease
    nuget Fake.DotNet.Cli prerelease
    nuget Fake.JavaScript.Yarn prerelease