source https://www.nuget.org/api/v2

framework: netcoreapp20

nuget Diff.Match.Patch
nuget LibGit2Sharp
nuget Microsoft.NET.Test.Sdk
nuget NUnit
nuget NUnit3TestAdapter
nuget Nancy prerelease
nuget Nancy.Owin prerelease
