<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <targets>
    <target name="logfile" xsi:type="File" fileName="logs\CodeSaw.log" layout="${longdate} ${message} ${exception:format=tostring}" />
    <target name="logconsole" xsi:type="ColoredConsole" layout="${longdate} ${message} ${exception:format=tostring}" />
    <target xsi:type="Database" 
            name="command_log" 
            connectionString="${db}"
            commandType="Text"
            commandText="insert into dbo.CommandLog(ExecutedAt,UserName,Url,ProjectId,ReviewId,CommandType,Command) values(GETDATE(), @UserName, @Url, @ProjectId, @ReviewId, @CommandType, @Command)"
    >
      <parameter name="UserName" layout="${ctx:api.user}"/>
      <parameter name="Url" layout="${ctx:api.url}"/>
      <parameter name="ProjectId" layout="${ctx:api.projectId}"/>
      <parameter name="ReviewId" layout="${ctx:api.reviewId}"/>
      <parameter name="CommandType" layout="${event-properties:item=commandType}"/>
      <parameter name="Command" layout="${event-properties:item=command}"/>
    </target> 
  </targets>

  <rules>
    <logger name="CommandDispatcher.Execute" minlevel="Debug" writeTo="command_log" final="true" />
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>