<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath=".\CodeSaw.Web.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout"/>
    <security>
      <requestFiltering>
        <fileExtensions>
          <clear/>
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>

