.diff {
    tr {
        &.base-change {
            opacity: 0.5;

            .diff-gutter:nth-child(3), .diff-gutter:nth-child(1) {
                &::before{
                    content: '\022A5 ' attr(data-line-number);
                }
            }
        }
    }
}

.no-changes {
    height: 10em;
    line-height: 10em;
    text-align: center;
    font-style: italic;
}