.file-matrix {
    .file-revision {
        &.changed {
            background-color: bisque;
        }

        &.renamed {
            background-color: fadeout(cornflowerblue, 50%);
        }
        
        &.new {
            background-color: fadeout(lightgreen, 50%);
        }
    }
}