.review-summary {
    table {
        width: auto !important;
    }

    .file-summary-row {
        .file-path {
            font-family: monospace;
        }
    }

    .revision, .revision-status {
        width: 5em;
    }

    td {
        &.current {
            background-color: lightskyblue;
        }

        &.previous {
            background-color: lightcyan;
        }

        &.current.previous {
            background-color: lightgreen;
        }
    }
}